html,
body{
	padding: 0;
	margin: 0;
	height: 100%;
}

html{
	font-family: helvetica;
	font-size: 15px;
	color: #222;
	transition: 100ms all ease-in;
	box-sizing: border-box;
	*{
		transition: inherit;
		box-sizing: inherit;
	}
}

.container{
	height: 100%;
	padding: 15px;
	&.night-mode{
		background-color: rgb(47, 42, 42);
		color: rgb(124, 62, 62);
	}
}

.toolbar {
	padding: 5px 5px;
	border-radius: 3px;
	background-color: rgba(150, 150, 150, 0.32);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
}
#login-buttons .login-link-and-dropdown-list{
	position: static;
}
#login-dropdown-list {
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.night-mode-switch,
.hide-completed{
	float: right;
}

#login-buttons .login-link-and-dropdown-list a{
	text-decoration: none;
	.night-mode &{
		color: rgb(142, 142, 142);
	}
}

.user-color{
	display: inline-block;
	height: 15px;
	width: 15px;
	position: relative;
	top: 3px;
	margin-left:4px;
	border-radius: 2px;
	overflow: hidden;
	input{
		visibility: hidden;
	}
}

.todo-list{
	padding-left: 0;
	li{
		margin: 3px 0;
		padding: 3px 6px 3px 8px;
		border-radius: 2px;
		list-style-type: none;
		&:nth-child(even) {
			background-color: rgba(140, 140, 140, 0.1);
		}
	}
}

input[type="text"]{
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 2px;
	border: 1px dashed rgb(148, 140, 140);
	color: rgb(179, 179, 179);
	&:focus{
		outline: none;
		border-style: solid;
		color: black;
	}
	.night-mode &{
		background-color: rgb(84, 80, 80);
	}
}

.night-mode-switch{
	input{
		display: none;
		&:checked + i:before{
			content: "\f185";
		}
	}
	i{
		position: relative;
		top: 1px;
	}
}

.private-toggle {
	margin-right: 5px;
	cursor: pointer;
	input {
		display: none;
		&:checked + i:before {
			content: "\f023";
		}
	}
}

.author-name{
	padding: 1px 0px 0px 4px;
	border-radius: 2px;
}

.hide-completed {
	margin: 1px 7px 0 0;
	input {
		display: none;
		&:checked + i:before{
			content: "\f055";
		}
	}
}

.header-toggle{
	width: 14px;
	cursor: pointer;
	color: rgb(148, 135, 135);
	text-shadow: -1px 0px rgb(239, 235, 235);
	transition: 150ms all ease;
	&:hover {
		color: rgb(116, 111, 111);
	}
	.night-mode &{
		text-shadow: -1px 0px #938F8F;
	}
}

.done-toggle{
	font-size: 1.2em;
	position: relative;
	top: 1px;
	min-width: 20px;
	display: inline-block;
	input{
		display: none;
		&:checked + i:before{
			content: "\f046"
		}
	}
}

.task-title{
	margin-left: 6px;
}

.checked{
	color: rgb(184, 184, 184);
	.task-title{
		text-decoration: line-through;
	}
	.night-mode &{
		color: rgb(74, 71, 71);
	}
}

.delete{
	width: 14px;
	height: 16px;
	float: right;
	padding: 0px 1px 3px 2px;
	margin-top: 3px;
	border-radius: 3px;
	font-size: 0.9em;
	background-color: #ef9999;
	cursor: pointer;
	box-sizing: border-box;
	border: none;
	color: white;
	&:hover{
		background-color: red;
	}
}